* {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width:100%;
    /* min-height: 100%; */
    margin: 0px;
    /* overflow: hidden; */
    /* padding-bottom: 20px; */
    padding:0px;
    overflow-x: hidden; 
  }

  div.container{
    background-color: #c9d1d3;
    height:100%;
    position: relative;
    top:0px;
    margin-bottom: 0px;
    margin-left:0px;
    margin-right: 0px;
    padding:0;
    width: 100%;
    max-width: 100%;
}

div.container div.prodctlist,div.prodctform{
    /* background-color: blue; */
    position: relative;
    height: 91%;
}